photoshare/photos/uploads/*
photoshare/photos/temp/
photoshare/photos/trashcan/
photoshare/photos/converts/
photoshare/photos/resized_icon/
photoshare/photos/__pycache__/
photoshare/photos/migrations/__pycache__/
photoshare/photoshare/__pycache__/
photoshare/photoshare/SECRET_KEY.py
photoshare/photoshare/WEBPUSH.py
photoshare/photoshare/DATABASES.py
!photos/uploads/.gitkeep
*.zip
package-lock.json
package.json
debug.log
resource_usage.json
similarimagetest.py
photoshare/static/css/tailwind_3.4.5.css
photoshare/static/js/chart.js
photoshare/static/js/chartjs-adapter-date-fns
photoshare/static/js/chartjs-plugin-zoom
photoshare/static/js/jquery.min.js
photoshare/photos/management/
photoshare/photos/tests.py
photoshare/photos/templatetags/__pycache__/
