photoshare/config/__pycache__/

photoshare/photoprocess/__pycache__/
photoshare/photoprocess/resized_icon/*

photoshare/photos/__pycache__/
photoshare/photos/migrations/__pycache__/
photoshare/photos/templatetags/__pycache__/
photoshare/photos/uploads/*
photoshare/photos/temp/
photoshare/photos/converts/
photoshare/photos/trashcan/
photoshare/photos/management/
photoshare/photos/tests.py
!photoshare/photos/uploads/.gitkeep

photoshare/static/css/tailwind_3.4.5.css
photoshare/static/js/chart.js
photoshare/static/js/chartjs-adapter-date-fns
photoshare/static/js/chartjs-plugin-zoom
photoshare/static/js/jquery.min.js

*.zip
debug.log
resource_usage.json