{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-1 py-1">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100">
            <a href="{% url 'my_notifications' %}" class="hover:text-gray-700 dark:hover:text-gray-300">알림</a>
        </h2>
        <a href="{% url 'delete_all_notifications' %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded transition duration-150 ease-in-out" onclick="return confirm('전부 삭제하시겠습니까?')">
            모두 삭제
        </a>
    </div>
    <div class="overflow-x-auto bg-white dark:bg-gray-800 shadow-md rounded-lg">
        <table class="min-w-full table-auto">
            <thead class="bg-gray-200 dark:bg-gray-700">
                <tr>
                    <th class="px-1 py-1 text-center whitespace-nowrap text-gray-700 dark:text-gray-300">유형</th>
                    <th class="px-1 py-1 text-center whitespace-nowrap text-gray-700 dark:text-gray-300">메세지</th>
                    <th class="px-1 py-1 text-center whitespace-nowrap text-gray-700 dark:text-gray-300">날짜</th>
                </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <td class="px-1 py-1 text-center whitespace-nowrap text-gray-700 dark:text-gray-300">{{ notification.type }}</td>
                    <td class="px-1 py-1 text-center text-gray-700 dark:text-gray-300">
                        {% if notification.url %}
                            <a href="{{ notification.url }}" class="text-blue-500 text-center hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-500">{{ notification.message }}</a>
                        {% else %}
                            {{ notification.message }}
                        {% endif %}
                    </td>
                    <td class="px-1 py-1 text-gray-700 dark:text-gray-300">{{ notification.created_at|date:"Y.m.d" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex justify-center mt-6">
        <nav aria-label="Page navigation">
            <ul class="flex space-x-2">
                {% if notifications.has_previous %}
                <li>
                    <a href="?page={{ notifications.previous_page_number }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}" class="px-3 py-2 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-md transition duration-150 ease-in-out">이전</a>
                </li>
                {% endif %}
    
                {% with ''|center:5 as range %}
                {% for _ in range %}
                    {% with forloop.counter0|add:notifications.number|add:-2 as num %}
                        {% if num > 0 and num <= notifications.paginator.num_pages %}
                        <li>
                            <a href="?page={{ num }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}" class="px-3 py-2 {% if notifications.number == num %}bg-blue-500 text-white{% else %}bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700{% endif %} border border-gray-300 dark:border-gray-600 rounded-md transition duration-150 ease-in-out">{{ num }}</a>
                        </li>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                {% endwith %}
    
                {% if notifications.has_next %}
                <li>
                    <a href="?page={{ notifications.next_page_number }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}" class="px-3 py-2 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-md transition duration-150 ease-in-out">다음</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}