{% load linkify_text %}
<div class="comment-box {% if comment.parent %}pl-4 {% endif %}mb-4" id="comment-{{ comment.id }}">
    <div class="flex items-center justify-between">
        <div class="flex items-center">
            {% if comment.parent %}
                <span class="mr-2 text-gray-500 dark:text-gray-400">↳</span>
            {% endif %}
            <strong class="text-gray-800 dark:text-gray-200 whitespace-nowrap">{{ comment.user.username }}</strong>
            <small class="text-gray-500 dark:text-gray-400 ml-2">{{ comment.created_at|date:"Y-m-d H:i" }}</small>
        </div>
        <div class="flex space-x-2">
            {% if user == comment.user %}
                <button type="button" onclick="deleteComment({{ comment.id }});" class="bg-red-500 hover:bg-red-600 text-white text-xs px-2 py-1 rounded transition duration-150 ease-in-out">삭제</button>
            {% endif %}
            {% if user.is_authenticated %}
                <button type="button" onclick="toggleReplyForm({{ comment.id }}); return false;" class="bg-blue-500 hover:bg-blue-600 text-white text-xs px-2 py-1 rounded transition duration-150 ease-in-out">답글</button>
            {% else %}
                <a href="{% url 'login' %}" class="bg-blue-500 hover:bg-blue-600 text-white text-xs px-2 py-1 rounded transition duration-150 ease-in-out">답글</a>
            {% endif %}
        </div>
    </div>
    <p class="text-gray-700 dark:text-gray-300 mt-2 mb-2 break-words whitespace-normal">
        {{ comment.text|linkify }}
    </p>
    <hr class="border-gray-200 dark:border-gray-700 my-2">
    <div id="reply-form-{{ comment.id }}" class="hidden mt-4">
        <form method="post" action="{% url 'add_comment' comment.photo.id %}" class="comment-form flex items-start">
            {% csrf_token %}
            <div class="flex-grow mr-2 mb-2">
                <textarea name="text" class="w-full p-2 border rounded-md dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 min-h-[50px]" rows="1" oninput="autoResize(this)"></textarea>
            </div>
            <input type="hidden" name="parent" value="{{ comment.id }}">
            <div class="flex flex-col space-y-2">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white text-xs px-2 py-1 rounded transition duration-150 ease-in-out">등록</button>
                <button type="button" onclick="toggleReplyForm({{ comment.id }});" class="bg-gray-300 hover:bg-gray-400 text-gray-800 text-xs px-2 py-1 rounded transition duration-150 ease-in-out">X</button>
            </div>
        </form>
    </div>
    {% for reply in comment.replies.all %}
        {% include 'comment.html' with comment=reply %}
    {% endfor %}
</div>